{% extends 'base.html' %}
{% load filtros %}

{% block 'content' %}

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deseja mesmo excluir o livro?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a href="{% url 'excluir-livro' id_livro %}" class="btn btn-danger btn-lg">Excluir</a>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <br>
    <form action="#" method="POST">
        {% csrf_token %}

        <p>
            <label>Nome:</label>
            <input class="form-control" type="text" value="{{livro.nome}}">
        </p>
        <p>
            <label>Autor:</label>
            <input style="width: 40%;" class="form-control" type="text" value="{{livro.autor}}">
        </p>
        <p>
            <label>Co-autor:</label>
            <input style="width: 40%;" class="form-control" type="text" value="{{livro.co_autor}}">
        </p>

        <p>
            <label>Categoria:</label>
            <select style="width: 40%;" class="form-control" name="Categoria">
                {% for i in categoria_livro %}
                {% if livro.categoria == i %}
                <option selected>{{i}}</option>
                {% else %}
                <option>{{i}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </p>
        <p>
            <label>Data de cadastro:</label>
            <input style="width: 40%;" class="form-control" type="text" value="{{livro.data_cadastro}}">
        </p>

        <label>Emprestado &nbsp; &nbsp;</label>
        {% if livro.emprestado %}
        <input style="transform: scale(2.0);" checked type="checkbox" name="Emprestado">
        {% else %}
        <input style="transform: scale(2.0);" type="checkbox" name="Emprestado">
        {% endif %}

        <br>
        <br>

        <input type="submit" class="btn btn-success btn-lg" value="Salvar">

    </form>
    <br>
    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal2">
        Excluir
    </button>
    <hr>

    <h1>Histórico de empréstimo</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Data Empréstimo</th>
                <th scope="col">Data Devolução</th>
                <th scope="col">Tempo de duração</th>
            </tr>
        </thead>
        <tbody>
            {% for emprestimo in emprestimos %}
            <tr>
                {% if emprestimo.nome_emprestado_anonimo == None %}
                <th scope="row">{{emprestimo.nome_emprestado}}</th>
                {% else %}
                <th scope="row">{{emprestimo.nome_emprestado_anonimo}}</th>
                {% endif %}
                <td>{{emprestimo.data_emprestimo}}</td>
                <td>{{emprestimo.data_devolucao}}</td>
                <td>{{emprestimo.data_devolucao|mostra_duracao:emprestimo.data_emprestimo}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}