{% extends 'base.html' %}

{% block 'content' %}

<div class="container">

    <br>
    <form action="#" method="POST">
        {% csrf_token %}

        <p>
            <label>Nome:</label>
            <input class="form-control" type="text" value="{{livro.nome}}">
        </p>
        <p>
            <label>Autor:</label>
            <input style="width: 40%;" class="form-control" type="text" value="{{livro.autor}}">
        </p>
        <p>
            <label>Co-autor:</label>
            <input style="width: 40%;" class="form-control" type="text" value="{{livro.co_autor}}">
        </p>

        <p>
            <label>Categoria:</label>
            <select style="width: 40%;" class="form-control" name="Categoria">
                {% for i in categoria_livro %}
                {% if livro.categoria == i %}
                <option selected>{{i}}</option>
                {% else %}
                <option>{{i}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </p>
        <p>
            <label>Data de cadastro:</label>
            <input style="width: 40%;" class="form-control" type="text" value="{{livro.data_cadastro}}">
        </p>

        <label>Emprestado &nbsp; &nbsp;</label>
        {% if livro.emprestado %}
        <input style="transform: scale(2.0);" checked type="checkbox" name="Emprestado">
        {% else %}
        <input style="transform: scale(2.0);" type="checkbox" name="Emprestado">
        {% endif %}

        <br>
        <br>

        <input type="submit" class="btn btn-success btn-lg" value="Salvar">

    </form>
</div>


{% endblock %}